.App {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  gap: 100px;
}

.counter-wrapper,
.settings-wrapper {
  background-color: rgb(155, 215, 223);
  border: solid 2px rgb(7, 81, 88);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  width: 35%;
  height: 150px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-style {
  background-color: white;
  border: solid 2px rgb(7, 81, 88);
  border-radius: 5px;
  min-width: 50%;
}

.input-error {
  background-color: pink;
  border: 2px solid red;
  outline: none; 
}

.label-style,
.input-style {
  color: rgb(7, 81, 88);
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px;
}

.value-style {
  font-size: 48px;
  background-color: #1d6e85;
  border: solid 2px rgb(7, 81, 88);
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.max-value-style {
  color: red;
}

.incorrect-value-style {
  color: #ff4d4f;
  font-size: 24px;
  font-weight: 700;
}

.pending-value-style {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.btn-style {
  font-size: 36px;
  background-color: #1d6e85;
  border: solid 2px rgb(7, 81, 88);
  color: white;
  transition: all 0.3s;
  margin: 0 2.5px;
  border-radius: 5px;
}

.btn-style:disabled {
  opacity: 50%;
}